@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    align-items: center;
    background-color: #f2eaf7;
    justify-content: space-between;
    display: flex; 
    height: 100vh;
}

.holder{
    background: #cd9dd9;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    /* width: 300px; */
}